body{
    background: gray;
    height:auto;
    width: auto;
}
.bl-new{
    width:92%;
    margin:0.5%;
}
.bl-list {
    background: blue;
    margin-left:10%;
    margin-right:10%;
    width:60%;
    float:left;
}
.bl-row{
    width:100%;
    display:inline-block;
}
.bl-product {
    height:100%;
    background:red;
    width:33%;
    display:inline-block;
}

.bl-count{
    height:100%;
    background:yellow;
    width:33%;
    display:inline-block;
}
.bl-minus {
    margin-left: 41.5%;
    background: red;
    opacity:0.5;
}
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
    background: #04a613;
}

.bl-buttons{
    height:100%;
    background:green;
    float:right;
    display:inline-block;
}
.bl-delete{
    background:red;
}



/*Права колонка*/

.bl-bought {
    float:left;
    background: red;
    width:10%;
}

