body {
    background: #DADADA;
    height: auto;
    width: auto;
    padding-top: 5.5%;
}

button {
    text-align: center;
    border: none;
    position: relative;
}

button::after {
    height: 80%;
    padding: 6px;
    font-size: 0;
    width: 65%;
    position: absolute;
    transition: transform 0.7s ease, background 0.7s ease;
    text-align: center;
    content: attr(data-tooltip);
    left: 0;
    border-radius: 6px;
    z-index: 10000;
}

button:hover::after {
    left: 50%;
    margin-left: -86px;
    font-size: 12px;
    height: auto;
    width: 160px;
    background: darkviolet;
    color: white;
    transform: translate(0, -130%);
}

button[disabled]:hover::after {
    display: none;
}

button[disabled] {
    opacity: 0.5;
}

.bl-new {
    border: 1px solid lightgrey;
    border-right: none;
    width: 88%;
    font-size: 14px;
    height: 25px;
    margin-right: -0.4%;
    padding-left: 1%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.bl-create {
    width: 10%;
    border: 1px solid gray;
    background: #2185D0;
    color: white;
    font-size: 14px;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bl-top {
    margin: 1%;
}

.bl-list {
    background: white;
    border-radius: 6px;
    margin-left: 14%;
    margin-right: 2%;
    width: 55%;
    float: left;
}

.bl-row {
    padding-top: 1%;
    width: 100%;
    display: inline-block;
    margin-bottom: 1%;
    border-top: 1px lightgray solid;
}

.bl-product {
    margin-left: 1%;
    width: 33%;
    display: inline-block;
}

.bl-count {
    text-align: center;
    width: 33%;
    display: inline-block;
}

.bl-minus {
    border-radius: 100px;
    color: white;
    margin-left: 41.5%;
    background: red;
    padding: 0.4em 0.65em 0.55em;
    font-size: 16px;
}

.bl-label {
    border-radius: 6px;
    background: #E8E8E8;
    padding: 2% 0.6em;
}

.bl-plus {
    color: white;
    border-radius: 100px;
    background: #04a613;
    padding: 0.4em 0.65em 0.55em;
    font-size: 16px;
}

.bl-buttons {
    margin-right: 1%;
    float: right;
    display: inline-block;
}

.bl-delete {
    color: white;
    border-radius: 6px;
    background: red;
    padding: 0.55em 0.8em 0.7em;
    font-size: 14px;
}

.bl-buy {
    background: #E8E8E8;
    border-radius: 6px;
    padding: 1em 1.2em 1.05em;
}

.bl-unbuy {
    display: none;
    background: #E8E8E8;
    border-radius: 6px;
    padding: 1em 1.2em 1.05em;
}

/*Права колонка*/

.bl-title {
    margin: 1em;
}

.bl-bought {
    border-radius: 6px;
    background: white;
    float: left;
    width: 15%;
}

.bl-productLeft {
    display: inline-block;
    padding: 2%;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    background: #E8E8E8;
    margin: 1%;
}

.bl-number {
    padding: 0.3em 0.7em;
    font-size: 10px;
    border-radius: 100px;
    background: #F2711C;
    color: white;
}

.bl-left, .bl-finished {
    width: 100%;
    margin: 1em;
}

.bl-badge {
    transition: transform 1s ease, background 1s ease;
    width: 10%;
    height: 150px;
    position: fixed;
    bottom: -60px;
    left: 1%;
    background: darkviolet;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Times New Roman", serif;
    z-index: 10001;
}

.bl-badge p:first-child {
    font-size: 2em;
    text-align: center;
}

.bl-badge p:last-child {
    visibility: hidden;
    margin-left: 15%;
}

.bl-badge:hover {
    transform: translate(0px, -60px);
    transition: all 1s ease;
    background: blue;
}

.bl-badge:hover p:last-child {
    visibility: visible;
}

@media (max-width: 500px) {
    .bl-list {
        margin: auto;
        width: 100%;
    }

    .bl-bought {
        margin: 10% auto;
        width: 100%;
    }
}

@media print {
    .badge p:first-child {
        display: none;
    }

    .badge {
        background: white;
        border: 1px darkviolet solid;
        width: 15%;
    }

    .bl-minus {
        margin-left: 0;
    }

    button {
        border: 1px gray solid;
    }

    .bl-number {
        border: 1px gray solid;
    }

    .bl-new {
        width: 79%;
    }
}